.main {
  padding: 10px;
}
.login_form {
  max-width: 400px;
  width: 100px;
}
.user_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.user_info > img {
  border-radius: 50%;
  border: 2px solid green;
}
.user_info > h3 {
  font-weight: 100;
}
.user_info > img:hover {
  border: 3px dotted blue;
}
.app_name > h1 {
  font-weight: 100;
  text-align: center;
  margin: 5px;
}
.form_input > form > input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-weight: 300;
}
.form_input > form > input:focus {
  outline: none;
  box-shadow: 0 0 0 2px lightgreen;
  font-weight: 100;
}
.form_input > form > button {
  display: none;
}
ul {
  list-style-type: none; /* to remove black dot from*/
}
.todo_show {
  margin: 10px;
  padding: 10px;
  border-left: 3px solid blue;
}
.no_todo {
  color: lightgreen;
}
.darkmode_switch {
  color: lightyellow;
}
/* DARK MODE CLASSES */

.main_dark {
  padding: 10px;
  background-color: rgb(58, 57, 57);
  min-width: 100vw;
  min-height: 100vh;
}
.user_info_darkmode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.user_info_darkmode > img {
  border-radius: 50%;
  border: 2px solid green;
}
.user_info_darkmode > h3 {
  font-weight: 100;
  color: white;
}
.user_info_darkmode > img:hover {
  border: 3px dotted blue;
}
