.todos {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border-radius: 10px;
  background-color: ghostwhite;
  margin: 5px;
  padding: 5px;
}
.todo_op > button {
  margin: 5px;
  padding: 5px;
}
.todos > li {
  font-size: large;
}
.todos:hover {
  font-size: x-large;
  border: 2px dotted gray;
  font-weight: 500px;
}
.todo_item > h3 {
  font-weight: 500;
}
.input_edit {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-weight: 300;
}
